.left-side-bar{
    position: fixed;
    width: 100px;
    height: 100%;
    left:0;
    top:0;
    background-color: rgb(25,25,25,1);
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(50,50,50,1);
    box-shadow: 0px 0px 20px 1px rgb(255,255,255,0.3);
    transition: width 0.5s;

}
.left-side-bar:hover{
    width: 200px;
}
body{
    background-color: rgb(30,30,30,1);
}