.top-side-bar{
    position: fixed;
    width: 100%;
    height: 55px;
    border-bottom-style: solid;
    border-bottom-color:rgb(130, 255, 146, 0.1);
    border-bottom-width: 1px;
}

.breadcrumb{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 10px;
}

.selection {
    position: absolute;
    top:-2px;
    margin-left: 10px;
    width: 200px;
    height:30px;
    display: inline-block;    
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color:rgb(130, 255, 146, 0.1);
    background-color: rgb(30, 30, 30, 1);
    overflow-y: hidden;    
    white-space: nowrap; 
    transition: ease-in-out height 0.3s;
}

.selection:hover{
    height: 100px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; 
}

.selection::-webkit-scrollbar {
    display: none;
}


.selection ul{
    position:relative;
    font-size: 15px;
    padding: 0;
    margin-left:0px;
    margin-top:2px;
}

.selection ul li{
    margin-top: 5px;
    padding-left: 10px;
    background-color: rgb(130, 255, 146, 0.0);
    transition: background-color 0.5s;
}

.selection ul li:hover{
    border-style: none;
    margin-top: 5px;
    width: 200px;
    background-color: rgb(130, 255, 146, 0.2);
}






